# Environment variables declared in this file are automatically made available to Prisma.

# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

# TODO: On M1 Macs - replace PostgreSQL IP address with hostname when this issue gets resolved: https://github.com/prisma/prisma/issues/12598

DATABASE_URL="postgresql://postgres:example@postgres:5432/tabloid"
