*/node_modules
*/.env
node_modules
/node_modules
newspaper/node_modules
/newspaper/node_modules
/*.log
.DS_Store
/.env
/.cache
/public/build
/build
newspaper/build
/packages/letterpress/.parcel-cache
**/.parcel-cache
**/node_modules