@use "./Menu.scss";
@use "./Header.scss";
@use "./Hamburger.scss";
@use "./Main.scss";
@use "./Footer.scss";
@use "./util.scss";

#letterpress-nameplate {
  align-items: center;
  color: white;
  display: flex;
  justify-content: space-evenly;
  font-family: monospace;
  font-size: 1.5rem;
}

#letterpress-copyright {
  align-items: center;
  color: white;
  display: flex;
  justify-content: space-evenly;
  font-family: monospace;
  font-size: 0.8rem;
}
